<div id="{{id}}" class="content whisper">

	<div id="menu_content" class="menu_content">
    	<div id="menu_title" class="menu_title">{{name}}</div>
        <div id="menu_buttons" class="menu_buttons">
        	<img id="minimize_button" class="minimize_button"></img>
            <img id="close_button" class="close_button"></img>
        </div>
    </div>
    
    <div id="chat_content" class="chat_content">

        <div id="chat_container" class="whisper_chat_container">
            
            <div id="chat_display" class="chat_display">
                <textarea readonly="readonly" id="chat_zone" disabled="disabled" class="chat_zone" value=""></textarea>
            </div>
    
            <div id="chat_control" class="chat_control">
                <textarea id="to_send" class="to_send" value=""></textarea>
                <button id="send_button" class="send_button">send</button>
            </div>
            
        </div>
    </div>

</div>